.dark{
    --color-primary: #27374D;
    --color-secondery: #526D82;
    --text-color : #e2ebf3;
    --text-color-secondery : #c0c6cb; 
}
.light{
    --color-primary: white
}

.App{
    background-color: var(--color-primary);
    
}

.card{ height: 100% !important;}

.dark .card{
    background-color: var(--color-secondery); 
}

.dark .header{
    color: var(--text-color);
}

/* .fa-solid{
    
    text-shadow: "2px 2px 4px rgba(0, 0, 0, 0.5)",
} */

.dark .text{
    color: var(--text-color-secondery);
}

.phone-dark{
    color: var(--text-color);
}

.card .theme-text-dark{
    color: var(--text-color);
}

.dark .card-text{
    color: var(--text-color-secondery);
    
}

.dark .btn {
color: white;
background-color: var(--color-primary);
}

.card-body .card-footer{
    background-color: white;
}

.dark .card-body  .card-footer{
    color: var(--text-color-secondery);
    background-color: var(--color-secondery);
}

.hr-dark{
    color: var(--text-color);
}

.component-container{
    height: 100vh;
}

.card-footer{
    border-top: 0px !important;
}

.phone{
    color: black;
}